a:hover {
	color: #ff8676
}
.sitenav > ul > li.menu-item-has-children:hover > a::before {
	border-top-color: #ff8676
}
.sitenav ul li:hover > a, .sitenav ul li.active a:hover, .sitenav ul li a:hover {
	color: #ff8676
}
.sitenav ul li.current-menu-item > a, .sitenav ul li.current-menu-parent > a {
	color: #ff8676;
	border-bottom-color: #ff8676
}
.searchform .sinput:focus {
	border-color: #ff8676
}
.searchform .sbtn {
	background-color: #ff8676
}
.post-like.actived {
	color: #ff8676
}
.excerpt time.hot {
	color: #ff8676
}
.excerpt-combine footer time.hot {
	background-color: #ff8676
}
.pagination ul li.next-page a {
	background-color: #ff8676
}
.ias_trigger a {
	background-color: #ff8676
}
.article-content h2 {
	border-left: 7px solid #ff8676
}
.article-actions .action-like {
	background-color: #ff8676
}
.article-tags a:hover {
	background-color: #ff8676
}
.image-navigation a {
	background-color: #ff8676
}
.tagslist li .name:hover {
	background-color: #ff8676
}
.comt-submit {
	background: #ff8676;
	border-color: #ff8676
}
@media (max-width:768px) {
.sitenav ul li.current-menu-item > a {
	background-color: #ff8676
}
.sitenav ul li.current-menu-parent > a {
	color: #ff8676
}
.sitenav ul li.current-menu-item>a {
	color: #fff;
}
}
@media (max-width:544px) {
.excerpt-combine h2 a:hover {
	color: #ff8676
}
.excerpt-combine footer time.hot {
	color: #ff8676
}
}